# Environment variables and secrets
.env
profiles.yml

# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Data files (don't commit raw/processed data)
data/

# DuckDB database files
*.duckdb
*.db

# dbt compiled artifacts
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

# Airflow logs
airflow/logs/

# Spark temp files
derby.log
metastore_db/

# OS files
.DS_Store
Thumbs.db